:root {
  --main-color: #4f637d;
  --secondary-color: #134267;
  --accent-color: #32abf2;
  --text-color: #859aab;

  --logo-color: #20496c;
  --input-color: #030e16;
  --placeholder-color: #c3cad5;
  --sidebar-color: #5d7fa3;

  --bg-color: #f8f9fc;

  --border: 2px solid #5d7fa3;
}

body {
  margin: 0;
  font-family: 'Inter', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font */
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: -0.01em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

button {
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

*:focus {
  outline: none;
}
